@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}

body {
  background: url("../img/BG2.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden !important;
}

.hidden {
  display: none !important;
}

.btn-hire {
  color: #f5f5f5 !important;
  border: none;
  border-left: 5px;
  padding: 0.6rem 1.8rem;
  transition: 0.25s ease-in-out;
}
.btn-hire img {
  transition: 0.25s ease-out;
  width: 28px;
}
.btn-hire:hover {
  color: #f5f5f5 !important;
  opacity: 0.8;
}
.btn-hire:hover > img:nth-child(1) {
  transform: translateX(-5px);
}
.btn-hire:hover > img:nth-child(2) {
  transform: translateX(5px);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(47, 18, 110, 0.8431372549) !important;
  backdrop-filter: blur(1px);
  z-index: 999;
  width: 100%;
  padding: 0.7rem 0;
}
.navbar .navbar-brand {
  font-weight: 700;
  color: #43ECB3;
}
.navbar .navbar-brand span {
  color: #9282FD;
}
.navbar .navbar-nav a {
  color: #f5f5f5 !important;
}

.banner {
  margin-top: 2.8rem;
}
.banner .overlay-screen {
  padding: 8rem 0;
}
.banner .overlay-screen h1 {
  font-size: 4rem;
  font-weight: 800;
}
.banner .overlay-screen p {
  margin-bottom: 1.3rem;
  letter-spacing: 1px;
  font-weight: 200;
  color: #f5f5f5 !important;
}
.banner .overlay-screen svg {
  clip-path: polygon(50% 100%, 50% 100%, 50% 0%, 50% 0%);
}
.banner .overlay-screen .transition {
  display: none !important;
}
.banner h1 {
  color: #f5f5f5 !important;
}
.banner h1 span {
  font-weight: 300 !important;
}
.banner p.lead {
  color: #8787b3 !important;
}
.banner .btn-start {
  transform: rotate(45deg);
  position: relative;
  background-image: linear-gradient(13deg, #301cdf, #3c7cfd);
  border: none !important;
  animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
}
.banner .btn-start::before {
  content: "";
  position: absolute;
  top: -7px;
  left: -7px;
  right: -7px;
  bottom: -7px;
  border: 1px solid #9282FD;
  border-radius: 5px;
  transition: 0.25s ease-in-out;
}
.banner .btn-start:hover {
  animation: pause;
  transform: rotate(45deg) scale(1.1);
}
.banner .btn-start:hover::before {
  transform: rotate(180deg);
}
.banner .btn-start.active {
  animation: pulse 1s cubic-bezier(0.66, 0, 0, 1) -0.5s;
}
.banner .btn-start i {
  transform: rotate(-45deg);
}
.banner .hud-button {
  color: #f5f5f5 !important;
  letter-spacing: 3px;
  font-weight: 500;
  margin-left: 12px;
  padding: 0.6rem 4.2rem;
  position: relative;
  z-index: 1;
  background: rgba(112, 125, 173, 0.2941176471);
  backdrop-filter: blur(2px);
}
.banner .hud-frame {
  position: absolute;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  left: -90px;
  bottom: -110px;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
@keyframes pulse {
  50% {
    box-shadow: 0 0 0 0 #9282FD;
  }
  100% {
    box-shadow: 0 0 0 20px rgba(146, 130, 253, 0);
  }
}
.skills {
  margin-top: 60px;
  margin-bottom: 80px;
}
.skills .card {
  opacity: 0;
  border-radius: 10px;
  background: transparent;
  border: none;
}
.skills .card .icon-box {
  width: 72px;
  height: 75px;
  background: url("../img/hud-frame-icon.png");
  background-size: cover;
  text-align: center;
  line-height: 80px;
  font-size: 26px;
  margin-bottom: 20px;
  position: relative;
}
.skills .card .icon-box::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(184, 198, 255, 0.0823529412);
  backdrop-filter: blur(2px);
}
.skills .card p {
  color: #8787b3 !important;
}

.about {
  margin-bottom: 100px;
}
.about h3 {
  font-weight: 600 !important;
  padding-bottom: 5px;
  margin-bottom: 20px;
  color: #f5f5f5 !important;
}
.about p {
  font-weight: 300 !important;
  color: #8787b3 !important;
}
.about h5 {
  color: #706BE9;
}
.about .education span {
  color: #b9bbbd;
  font-size: 14px;
}

.artworks {
  margin-bottom: 100px;
}
.artworks h3 {
  font-weight: 600 !important;
  color: #f5f5f5 !important;
  margin-bottom: 10px;
  text-align: center;
}
.artworks p {
  color: #8787b3 !important;
  margin-bottom: 20px;
}
.artworks .owl-carousel .items {
  padding: 20px;
}
.artworks .owl-carousel .items .bg-top {
  position: relative;
  background: rgba(184, 198, 255, 0.1921568627);
  backdrop-filter: blur(2px);
  padding: 15px;
}
.artworks .owl-carousel .items .bg-top::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -15px;
  left: -15px;
  bottom: -15px;
  right: -15px;
  border: 1.5px solid rgba(184, 198, 255, 0.3568627451);
  clip-path: polygon(85% 0, 100% 0, 100% 20%, 20% 100%, 0 100%, 0 85%);
}
.artworks .owl-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  width: 102%;
  transform: translate(-50%, -50%);
  justify-content: space-between;
}
.artworks .owl-nav button {
  opacity: 0.6;
}
.artworks .owl-nav button:hover {
  opacity: 1;
}
.artworks .owl-dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
}
.artworks .owl-dots button {
  position: relative;
  width: 10px;
  height: 10px;
  border: 1px solid rgba(136, 121, 237, 0.4588235294);
  transform: rotate(45deg);
}
.artworks .owl-dots button.active {
  border: 1px solid #b7acff;
}
.artworks .owl-dots button.active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 60%;
  background: #b7acff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.contact {
  margin-bottom: 100px;
}
.contact h3 {
  font-weight: 600 !important;
  margin-bottom: 10px;
  text-align: center;
  color: #f5f5f5 !important;
}
.contact p {
  color: #8787b3 !important;
  margin-bottom: 20px;
}
.contact .card {
  background: transparent;
}
.contact .card .icon {
  margin-bottom: 20px;
}
.contact .card .caption {
  position: relative;
  text-align: center;
  background: rgba(191, 190, 255, 0.0823529412);
  backdrop-filter: blur(2px);
  border-left: 1px solid #8eb3ff;
  border-right: 1px solid #8eb3ff;
  padding: 13px 20px;
  color: #fff;
  transition: 0.25s ease-out;
}
.contact .card .caption::before {
  content: "";
  position: absolute;
  width: 5%;
  height: 110%;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  border-left: 4px solid rgba(142, 180, 255, 0.5607843137);
  border-top: 4px solid rgba(142, 180, 255, 0.5607843137);
  border-bottom: 4px solid rgba(142, 180, 255, 0.5607843137);
  transition: 0.25s cubic-bezier(0.66, 0, 0, 1);
}
.contact .card .caption::after {
  content: "";
  position: absolute;
  width: 5%;
  height: 110%;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  border-right: 4px solid rgba(142, 180, 255, 0.5607843137);
  border-top: 4px solid rgba(142, 180, 255, 0.5607843137);
  border-bottom: 4px solid rgba(142, 180, 255, 0.5607843137);
  transition: 0.25s cubic-bezier(0.66, 0, 0, 1);
}
.contact .card .caption:hover {
  background: rgba(57, 56, 122, 0.2274509804);
  backdrop-filter: blur(0);
}
.contact .card .caption:hover::before {
  transform: translate(8px, -50%);
}
.contact .card .caption:hover::after {
  transform: translate(-8px, -50%);
}
.contact .card .caption a {
  text-decoration: none;
  color: #fff;
}
.contact .card .caption a:hover {
  color: #171ae6;
}

footer {
  box-shadow: 0 -10px 11px rgba(0, 0, 0, 0.0509803922);
  background: rgba(11, 6, 88, 0.6156862745);
  backdrop-filter: blur(2px);
}
footer p {
  padding: 0 0 !important;
  margin: 0 0 !important;
  font-size: 14px;
  color: #f5f5f5 !important;
}
footer p span {
  color: #3b2dff;
  font-weight: 600;
}

@media (max-width: 1122px) {
  .banner .hud-button {
    padding: 0.45rem 3.5rem;
    margin-left: 16px;
  }
  .banner .hud-frame {
    transform: scale(0.88);
    bottom: -100px;
  }
}
@media (min-width: 992px) {
  .btn-hire {
    display: none !important;
  }
}
@media (max-width: 989px) {
  html, body {
    overflow-x: hidden !important;
  }

  .navbar button {
    border: unset;
  }
  .navbar button span {
    filter: invert(1);
  }

  .hud-button, .hud-frame {
    display: none;
  }

  .button-hire {
    display: block;
  }

  .skills, .about, .contact {
    margin-bottom: 60px;
  }

  .banner {
    text-align: center;
  }
  .banner p.lead {
    font-size: 1rem;
  }
  .banner .btn-hire {
    margin: 0 auto !important;
    text-align: center !important;
    justify-content: center !important;
  }

  .contact .caption {
    font-size: 0.8rem;
  }
}
@media (max-width: 768px) {
  body {
    background-position: center;
  }

  .banner .overlay-screen svg {
    width: 360px;
  }
  .banner .overlay-screen h1 {
    font-size: 3rem;
  }

  .skills .row {
    padding-bottom: 0 !important;
    text-align: center;
  }
  .skills .row .icon-box {
    margin: 6px auto !important;
  }

  .contact .row div {
    margin-bottom: 25px;
  }
  .contact .row div .caption {
    font-size: 14px;
  }
  .contact .row div:last-child {
    margin-bottom: unset;
  }
}
@media (max-width: 578px) {
  .skills, .about, .contact {
    margin-bottom: 40px;
  }

  .skills .card {
    padding: 1rem 1.5rem;
  }

  .contact .row div {
    margin-bottom: 25px;
  }
  .contact .row div .card {
    padding: 0 1rem !important;
  }
  .contact .row div .card .caption {
    font-size: 13px;
  }
  .contact .row div .card .caption::before, .contact .row div .card .caption::after {
    width: 2.5%;
  }
  .contact .row div:last-child {
    margin-bottom: unset;
  }

  footer p {
    font-size: 11px;
  }
}

/*# sourceMappingURL=style.css.map */
